.App-Container {
  top: 323px;
  left: 92px;
  width: 1737px;
  height: 719px;
  background: transparent url('/assets/img/Rectangle 7.png') 0% 0% no-repeat
    padding-box;
  box-shadow: 0px 3px 16px #00000019;
  opacity: 1;
}

.nav-link {
  color: white;
}
nav a {
  color: white !important;
}

nav .navbar-nav li a {
  justify-items: right;
  align-items: flex-end;
  color: white !important;
}

.navbar-nav {
  flex-direction: row;
}

nav li .nav-link {
  float: right;
}
